body {
  margin: 0;
  font-family: 'DM Sans', 'Amiri', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-input:focus {
  border-color: #b45309 !important;
  outline: none;
}
